<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.KeyWordMarkRangeRelationMapper">

<insert id="addRelation">
	INSERT INTO keyword_markrange_relation_table(keyword, markrange)
	VALUES(#{keyWordId}, #{markRangeId})
</insert>

<delete id="deleteRelation">
	DELETE FROM keyword_markrange_relation_table
	WHERE keyword=#{keyWordId} AND markrange=#{markRangeId}
</delete>


</mapper>