<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.MarkRangeMapper">

<insert id="addMarkRange" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO mark_range_table(text,count,start_time, end_time, class)
	VALUES(#{text},#{count},#{startTime}, #{endTime}, #{classId})
</insert>

<delete id="deleteMarkRange">
	DELETE FROM mark_range_table
	WHERE id=#{id}
</delete>

<select id="queryMarkRange" resultMap="markRange">
	SELECT m.*
	FROM mark_range_table m
	WHERE m.id=#{id}
</select>

<select id="queryMarkRangeByClass" resultMap="markRange">
	SELECT m.*
	FROM mark_range_table m
	WHERE m.class=#{classId}
	ORDER BY m.count DESC
</select>

<resultMap id="markRange" type="EffectiveMarkRange">
	<id column="m.id" property="id"/>
	<result column="m.text" property="text"/>
	<result column="m.count" property="count"/>
	<result column="m.start_time" property="startTime"/>
	<result column="m.end_time" property="endTime"/>
	<result column="m.class" property="classId"/>
</resultMap>


</mapper>